<h1> Currently Tracked Apps </h1>

<% @applications.each do |app| %>
  <div class='media'>
    <h3> <%=link_to app.name, registered_application_path(app) %> </h3>
    <p> <%= app.url %> </p>
  </div>
  <% end %>
