<div class="skill-wrap clearfix">

    <div class="center wow fadeInDown">
      <h2>Who is Brandon?</h2>

        <p>I began my journey into programming as a vital creative endeavor,
           a way to work and create simultaneously.
        </p>

        <p>
           I come from a teaching background. My traditional degree is in English and Education and for the past four years I have been a middle school teacher, teaching 7-8th grade English and History.
           I have always had a drive to help people and to lead them to better and stronger senses of self. In code I seek to do the same.
        </p>

        <p>
           I was drawn to web development because I realized the power the breadth that the web had to offer. The growth of the web and the increased access to it appeal to my sense of broad outreach.
           I hope to be able to use the web to reach people in meaningful and compelling ways.
        </p>

     </div>

     <div class="center wow fadeInDown">
       <h2> Brandon's Portfolio </h2>
     </div>

    <div class="row clearfix">
      <div class="col-md-4 col-sm-6">
        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="media">
            <div class="media-body">
              <h2>Bloccit</h2>
              <h3>Reddit Clone</h3>
              <ul class="tag clearfix">
                <li> <a href="http://bwieber-bloccit.herokuapp.com/" class='btn btn-default btn-md'> <i class="fa fa-star"> </i> <span class="network-name">Website</span></a> </li>
                <li> <a href="https://github.com/BWieber/BasicRailsApp" class='btn btn-default btn-md'> <i class="fa fa-github"> </i> <span class="network-name">GitHub Repo</span></a> </li>
              </ul>

              <ul class="social_icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div><!--/.media -->
          <p>This project was my entry into Ruby and Ruby on Rails. It replicates many of reddit's UI, allowing a user to create topics, posts and comments. It also allows a user to favorite posts they like, and up/down vote any post.</p>
        </div>
      </div><!--/.col-lg-4 -->


      <div class="col-md-4 col-sm-6 col-md-offset-2">
        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="media">

            <div class="media-body">
              <h2>Blocitoff</h2>
              <h3> Self-Destructing ToDo List</h3>
              <ul class="tag clearfix">
                <li> <a href="http://bwieber-blocitoff.herokuapp.com/" class='btn btn-default btn-md'> <i class="fa fa-star"> </i> <span class="network-name">Website</span></a> </li>
                <li> <a href="https://github.com/BWieber/Blocitoff" class='btn btn-default btn-md'> <i class="fa fa-github"> </i> <span class="network-name">GitHub Repo</span></a> </li>
              </ul>
              <ul class="social_icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div><!--/.media -->
          <p> Blocitoff is a self-destructing task list that automatically deletes tasks if not completed within 7 days. Users create individual accounts by providing a username, email address, and password. They can then create tasks and delete them when finished.</p>
        </div>
      </div><!--/.col-lg-4 -->
    </div> <!--/.row -->
    <div class="row team-bar">
      <div class="first-one-arrow hidden-xs">
        <hr>
      </div>
      <div class="first-arrow hidden-xs">
        <hr> <i class="fa fa-angle-up"></i>
      </div>
      <div class="second-arrow hidden-xs">
        <hr> <i class="fa fa-angle-down"></i>
      </div>
      <div class="third-arrow hidden-xs">
        <hr> <i class="fa fa-angle-up"></i>
      </div>
      <div class="fourth-arrow hidden-xs">
        <hr> <i class="fa fa-angle-down"></i>
      </div>
    </div> <!--skill_border-->

    <div class="row clearfix">
      <div class="col-md-4 col-sm-6 col-md-offset-2">
        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="media">


            <div class="media-body">
              <h2>Blocipedia</h2>
              <h3>Wiki Collaboration App</h3>
              <ul class="tag clearfix">
                <li> <a href="http://bwieber-blocipedia.herokuapp.com/" class='btn btn-default btn-md'> <i class="fa fa-star"> </i> <span class="network-name">Website</span></a> </li>
                <li> <a href="https://github.com/BWieber/Blocipedia" class='btn btn-default btn-md'> <i class="fa fa-github"> </i> <span class="network-name">GitHub Repo</span></a> </li>
              </ul>
              <ul class="social_icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div><!--/.media -->
          <p>A Wikipedia clone with a variety of user roles. Standard users can create and edit wikis, premium users can create private wikis with collaborators and admins can do it all.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-md-offset-2">
        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="media">

            <div class="media-body">
              <h2>Blocmarks</h2>
              <h3>Bookmark Sharing Tool</h3>
              <ul class="tag clearfix">
                <li> <a href="http://bwieber-blocmarks.herokuapp.com/" class='btn btn-default btn-md'> <i class="fa fa-star"> </i> <span class="network-name">Website</span></a> </li>
                <li> <a href="https://github.com/BWieber/Blocmarks" class='btn btn-default btn-md'> <i class="fa fa-github"> </i> <span class="network-name">GitHub Repo</span></a> </li>
              </ul>
              <ul class="social_icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div><!--/.media -->
          <p> An application that allows a user to bookmark URLs via email, peruse other user's bookmarks and maintain a personal index of categorized bookmarks.</p>
        </div>
      </div>
    </div>	<!--/.row-->
  </div><!--section-->
</div><!--/.container-->
</section><!--/about-us-->
