<section id="feature" >
    <div class="container">
       <div class="center wow fadeInDown">
            <h2> BLOCMETRICS </h2>
            <p class="lead"> A personal API built to understand the interaction between apps. </p>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-bullhorn"></i>
                        <h2>Client-Side Javascript</h2>
                        <h3>An extended version of JavaScript that enables the enhancement and manipulation of web pages and client browsers</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-comments"></i>
                        <h2>Chartkick</h2>
                        <h3>The Chartkick Gem allows for the use of beautiful and descriptive charts.</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-cloud-download"></i>
                        <h2>JSON, CORS and CURL</h2>
                        <h3>These concepts form the foundation of my API.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Project Graphs</h2>
            <p class="lead"> These graphs display data from my Rails apps made during my <a href='http://www.bloc.io'>Bloc</a> apprenticeship.</p>
        </div>

        <div class="row">
          <div class="col-sm-4">
              <div class="recent-work-wrap">
                <div class="recent-work-inner">
                  <h3> Bloccit </h3>
                  <p> Reddit Clone. Users can do CRUD actions on posts, up/down vote and favorite posts they like. </p>
                  <p> <%= pie_chart RegisteredApplication.find_by(name: 'Bloccit').events.group(:name).count %> </p>
                </div>
              </div>
            </div>


            <div class="col-sm-4">
              <div class="recent-work-wrap">
                <div class="recent-work-inner">
                  <h3> Blocitoff </h3>
                  <p>A ToDo List application utilizing rake automation.</p>
                  <p> <%= pie_chart RegisteredApplication.find_by(name: 'Blocitoff').events.group(:name).count %> </p>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="recent-work-wrap">
                <div class="recent-work-inner">
                  <h3> Blocipedia </h3>
                  <p> Wiki Collaboration App </p>
                  <p> <%= pie_chart RegisteredApplication.find_by(name: 'Blocipedia').events.group(:name).count %> </p>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
</section>
